/* Reset */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body {

    background-color: #121212;
    color: #f1f1f1;
    padding: 1rem;

}

header {

    background: #1e1e1e;
    color: #f1f1f1;
    padding: 1rem;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {

    list-style: none;
    display: flex;
    gap: 1rem;

}

nav a {

    color: #f1f1f1;
    text-decoration: none;

}

nav a:hover {

    color: #00bcd4;

}

main {

    padding: 2rem;

}

footer {

    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background: #1e1e1e;
    color: #aaa;

}

/* Project Cards */

.projects-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}

.card {

    background: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.card:hover {

    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7)

}

.card a {

    color: #00bcd4;
    text-decoration: none;

}

.card a:hover {

    text-decoration: underline;

}